body {
    font-family: 'Yantramanav', sans-serif;
    background-color: rgb(240, 240, 240);
}

p {
    margin: 1px;
    padding: 0;
}

button {
    margin: 2px;
    padding: 0 6px 0 6px;
    background-color: rgb(151, 162, 165);
    border: none;
    border-radius: 30px;
}

#button-menu, #row-input, #column-input, #fill-options {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

#button-menu {
    margin: 5px;
    height: 100%;
}

#row-input, #column-input, #color-input, #fill-options {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

#row-input, #column-input, #colors, #fill-uncolored, #fill-all, #clear-all {
    font-family: 'Yantramanav', sans-serif;
    height: 25px;
}


.grid-mod-button {
    width: 25px;
    height: 25px;
}

tr, td{
    border: 1px solid rgb(114, 114, 114)
}

td {
    width: 50px;
    height: 50px;
}

.clear {
    background-color: rgba(255, 255, 255, 0)
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.white{
    background-color: white;
}
