/* Henry Baum
CSCI-39548-01
Prof. Melissa Lynch
Date: June 14 2021
Assignment #3: DOM and Gridmaker */

body {
    font-family: 'Yantramanav', sans-serif;
    background-color: #defcf8;
}

/* *****  Console Menu Styling  ***** */
p {
    margin: 1px;
    padding: 0;
}

button, #colors {
    margin: 0 2px 0 2px;
    padding: 0 6px 0 6px;
    color: white;
    background-color: rgb(46, 143, 170);
    border: none;
    border-radius: 30px;
}

.grid-mod-button {
    width: 25px;
    height: 25px;
}

#button-menu, #row-input, #column-input, #fill-options {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 5px;
}

#row-input, #column-input, #color-input, #fill-options {
    border: 1px solid rgb(46, 143, 170);
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

#colors, #fill-uncolored, #fill-all, #clear-all {
    height: 25px;
    font-family: 'Yantramanav', sans-serif;
}

/* *****  Cell styling in the Grid  ***** */
tr, td{
    border: 1px solid rgb(114, 114, 114)
}

td {
    width: 50px;
    height: 50px;
}

/* *****  Color Options  ***** */
.clear {
    background-color: rgba(255, 255, 255, 0)
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.white{
    background-color: white;
}
