#button-menu, #row-input, #column-input {
    display: flex;
    flex-flow: row nowrap;
}
tr, td{
    border:1px;
    border-style: solid;
}
td {
    height: 50px;
    width: 50px;
}

.clear {
    background-color: rgba(255, 255, 255, 0)
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}
